@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

:root {
  --button-color: #ebebeb;
  --body-color: linear-gradient(90deg, #000000, #555555);
  --radius: 10px;
}

html {
  background: var(--body-color);
}

main {
  margin-top: 10px;
  height: 100dvh;
  width: 100dvw;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
nav {
  position: relative;
  display: flex;
  column-gap: 2rem;
}
.navImg {
  color: black;
  width: 2rem;
  height: 2rem;
}
nav > div {
  margin-top: 10px;
  margin-left: 10px;
  position: relative;
  padding: 5px 5px 2px 7px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  column-gap: 1rem;
  border-radius: 50px;
  background-color: var(--button-color);
}
.left-menu {
  display: flex;
  flex-direction: column;
  background: white;
  width: 20%;
  gap: 4rem;
  border-radius: var(--radius);
}
.rigth-menu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 75%;
}
.buttons-container {
  padding-top: 1rem;
  row-gap: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttons-container > a > input[type="button"] {
  width: 17rem;
  height: 3rem;
  border-radius: 15px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.buttons-container > a > input[type="button"]:hover {
  background-color: #bcbcbc;
  transition: 0.5s ease;
}
.mercury-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12rem;
}
.mercury {
  perspective-origin: left;
  object-fit: cover;
  animation: mercuryAnimation 3s ease infinite;
}
.mercury-main-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.planet-name {
  display: flex;
  justify-content: center;
  align-items: center;
}
.info {
  background-color: white;
  border-radius: var(--radius);
  border: solid 2px black;
  padding: 2px;
}
.info > div{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 5px;
}
.info > div > label{
    border: 2px solid black;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    column-gap: 0.5rem;
    width: 99%;
    height: 1.5rem;
    background-color: var(--button-color);
    border-radius: var(--radius);
    padding: 5px;
}
.info > div > label > input[type="text"]{
    position: relative;
    width: 70%;
    background-color: var(--button-color);
    border: none;
    outline: none;
    border-bottom: 2px solid black;
}

.extraInfo{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 1rem;
}
.extraInfo > label{
    border: 2px solid black;
    height: 1.5rem;
    padding: 5px;
    background-color: var(--button-color);
    border-radius: var(--radius);
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
.extraInfo > label > input[type="text"]{
    width: 90%;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    background-color: var(--button-color);
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.actions{
    cursor: pointer;
    background-color: var(--button-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius);
    height: 1.5rem;
    padding: 4px;
    border-radius: var(--radius);
    border: 2px solid black;
}
.actions:hover{
    background-color: #bcbcbc;
    transition: 0.5s ease;   
}
#formFoot{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#submitContainer > img{
    width: 2.4rem;
    height: 1.5rem;
}
#submitContainer{
  cursor: pointer;
  background-color: var(--button-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius);
  height: 1.5rem;
  padding: 4px;
  width: 8rem;
  border-radius: var(--radius);
  border: 2px solid black;  
}
#cancel{
  cursor: pointer;
  background-color: var(--button-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius);
  height: 1.5rem;
  padding: 4px;
  width: 8rem;
  border-radius: var(--radius);
  border: 2px solid black;  
}
#cancel > img{
  width: 2.4rem;
  height: 1.5rem;
}
.actionButton{
   all: unset;
}
#sendInfo{
  all:unset;
  padding: 2px;
}

@keyframes mercuryAnimation {
  0% {
    transform: translateY(0.5rem);
  }
  50% {
    transform: translateY(-0.5rem);
  }
  100% {    
    transform: translateY(0.5rem);
  }
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}